body {
    background-image: url("./res/pages/blue\ background.png");
    font-family: 'Libre Baskerville' !important;
    font-weight: normal !important;
}

@font-face {
    font-family: 'Migra';
    src: url('Migra-Extralight.woff2') format('woff2'),
        url('Migra-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

.homeText {
    font-size: 13pt;
    line-height: 40px;
    color: white;
    text-align: center;
    font-style: normal;
}

.submitText {
    font-size: 18pt;
    line-height: 45px;
    color: white;
    text-align: left;
    font-style: normal;
}

.submitFormText {
    font-size: 13pt;
    line-height: 30px;
    color: white;
    text-align: left;
    font-style: normal;
}

.thankyou_message {
    color: white;
}

.pageText {
    color: black;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    font-style: normal;
}

.pageTextLarge {
    color: black;
    font-size: 20pt;
    line-height: 40px;
    text-align: left;
    font-style: normal;
}

.pageTextBold {
    color: #000000;
    font-size: 14pt;
    line-height: 39px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
}

.pageTextBlue {
    color: #3057E3;
    font-size: 16pt;
    line-height: 35px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
}

.pageTextQuote {
    color: rgb(46, 68, 146);
    font-size: 14pt;
    line-height: 30px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
}

.pageTextQuoteSmall {
    font-size: 8pt;
    line-height: 28px;
}

.pageBigText {
    font-family: 'Migra' !important;
    color: #3057E3;
    font-size: 42pt;
    line-height: 75px;
    text-align: left;
    font-style: normal;
    font-weight: 200;
}

.submitFormButton {
    font-size: 13pt;
    line-height: 30px;
    color: #3057E3 !important;
    text-align: center;
    font-style: normal;
}

.navButtons {
    /* position: absolute; */
    bottom: 0;
    font-size: 13px;
    line-height: 50px;
    color: white;
    text-align: center;
}

.navButtonsPages {
    position:absolute;
    font-size: 16px;
    line-height: 50px;
    color: #3057E3;
    text-align: center;
    z-index: 1;
}

.pages {
    background: url("./res/pages/white\ background-opacityless.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

.col-half-offset{
    margin-left:0%
}

.pageLogo {
    position:absolute;
    top: 40px;
    right: 32%;
    width: 13%;
    z-index:10;
}


.zoom {
    transition: transform .2s;;
  }
  
.zoom:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
  }

  /* .image-plate-container {
      position: relative;
      width: 100%;
  } */

  .imageVideo {
      position: relative;
      top: 0;
      left: 0;
  }

  .plate-image {
    position: absolute;
    bottom: 0;
    left: 0;
  }